* {
  font-family: "Merienda", cursive;
}
body {
  background-color: #4c3c43;
}
.container {
  width: 80vw;
  height: 80vh;
  float: left;
  margin-left: 8em;
}

.slider {
  position: relative;
  text-align: center;
  top: 5em;
  border: 3em solid #332a2e;
  border-radius: 2em;
  background-color: #805568;
}

.slider {
  margin: 0 auto;
}

.slide {
  width: 20%;
  float: left;
}

.image {
  width: 500%;
}

.overflow {
  margin-top: 3em;
  width: 100%;
  overflow: hidden;
}
.labels {
  display: flex;
  gap: 15px;
}

.container input,
.text {
  display: none;
}
.wrapper {
  padding: 0px 1em 1em 2em;
}
.text {
  font-size: 2em;
  line-height: 1em;
}

#switch1:checked ~ .slides .image {
  margin-left: 0;
}
#switch1:checked ~ .active .texts .text1 {
  display: block;
}
#switch2:checked ~ .active .texts .text2 {
  display: block;
}
#switch3:checked ~ .active .texts .text3 {
  display: block;
}
#switch4:checked ~ .active .texts .text4 {
  display: block;
}
#switch5:checked ~ .active .texts .text5 {
  display: block;
}

#switch2:checked ~ .slides .image {
  margin-left: -100%;
}

#switch3:checked ~ .slides .image {
  margin-left: -200%;
}

#switch4:checked ~ .slides .image {
  margin-left: -300%;
}

#switch5:checked ~ .slides .image {
  margin-left: -400%;
}

.active label {
  border-radius: 50%;
  border-width: 1em;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: #4c3c43;
  background-clip: padding-box;
  box-sizing: border-box;
  border: 10px solid transparent;
  padding: 10px;
  cursor: pointer;
}

.active {
  margin: 3% 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labels label:hover {
  background: #4c3c43;
  border-color: #66545c !important;
}

.labels label:active {
  background: red;
}
#switch1:checked ~ .active .labels .label1,
#switch2:checked ~ .active .labels .label2,
#switch3:checked ~ .active .labels .label3,
#switch4:checked ~ .active .labels .label4,
#switch5:checked ~ .active .labels .label5 {
  background: #ba99a7;
  border-color: #ba99a7 !important;
}

.slides .image,
.active .texts {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.5);
    margin-top: -2em;
  }
  to {
    opacity: 1;
    transform: scale(1);
    margin-top: 0em;
  }
}
@media (max-width: 1024px) {
  .container {
    margin-left: 6em;
  }
  .slider {
    top: 1em;
  }
}
@media (max-width: 420px) {
  .active {
    flex-direction: column-reverse;
  }
}
